body{
    background-color: black;
    display: block;
    text-align: center;
    margin-top: 50px;
    cursor : default;
}
input{
    background: none;
    border-color: white;
    color : white;
    height: 4cm;
    width: 5cm;
    font-size: 45px;
}
.firstLine{
    margin: 0%;
}
#bleu{
    margin-right: 10%;
}
#jaune{
    margin-left: 10%;
}
#rouge{
    margin-right: 25%;
}
#vert{
    margin-left: 25%;
}
#text{
    font-size: 50px;
    font-weight: bold;
    color: white;
    height: 3cm;
}
#start{
    height: 2cm;
    width: 5cm;
    background-color: ghostwhite;
    color: black;
    font-weight:bold;
}