body{
    background-color: black;
    display: block;
    text-align: center;
    margin : 0.5cm;
    cursor : default;
}

/* Menu*/ 
#menu{
    text-align: justify;
    position : absolute;
    color : white;
    background: rgba(92, 92, 92, 0.95);
    border: solid rgb(209, 209, 209) 0.5cm ;
    font-size: 110%;
    left : 15%;
    right : 15%;
    top : 10%;
    bottom : 10%;
    display:grid;
    padding-left : 3%;
    padding-right : 3%;
}
h1{
    margin : 0;
    text-align: center;
}
#textMenu, #textMenu2{
    margin : 0;
}
#deroule{
    margin:0;
}
#check{
   height: 20px;
}
#launch{
    font-size: 100%;
    margin-left: 25%;
    margin-right: 25%;  
}

/*Expérience*/
input{
    background: none;
    border-color: white;
    color : white;
    height: 4cm;
    width: 5cm;
    font-size: 45px;
    margin-top: 0.1cm;
}
#bleu{
    margin-right: 4.9cm;
}
#jaune{
    margin-left: 4.9cm;
}
#rouge{
    margin-right: 9cm;
}
#vert{
    margin-left: 9cm;
}

#text{
    font-size: 50px;
    font-weight: bold;
    color: white;
    height: 3cm;
}

#start{
    height: 2cm;
    width: 5cm;
    background-color: ghostwhite;
    color: black;
    font-weight:bold;
}